@model SIMS_SE06205.Models.StudentViewModel

@{
    ViewData["title"] = "Edit Student";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col col-sm-12 col-md-12 p-5">
        <div class="card">
            <div class="card-header">
                <h3> Edit Student</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="Edit">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label asp-for="StudentCode" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="StudentCode" required/>
                                <span asp-validation-for="StudentCode"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="FirstName" required />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="LastName" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="LastName" required />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Email" class="control-label"></label>
                                <input type="email" class="form-control" asp-for="Email" required/>
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="PhoneNumber" required/>
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Address" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="Address" required />
                                <span asp-validation-for="Address"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Gender" class="control-label"></label>
                                <select class="form-control" asp-for="Gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="DateOfBirth"></label>
                                <input type="date" class="form-control" asp-for="DateOfBirth" required />
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-info" href="@Url.Action("Index","Student")">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>